@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo {
    width: 25%;
    text-align: center;
    /*background: red;*/
}

nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
nav .menu a:first-child {
    color: #ffffff;
}

main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

html{
    font-size: 10px;

}
body{
    background-image: url("aboutwaliimage.jpg");
    background-repeat: no-repeat;
    /* background-position-x: fit-content;
    background-position-y: fit-content; */
    font-family:'Ubuntu',sans-serif ;
}
.container{
    max-width: 1100px;
    margin: 0 auto ;
    padding: 0 4rem ;
    text-align: center;
}
h1{
    color: #ffff;
    font-size:5rem;
    font-weight: 700;
    letter-spacing: 8px;

}
h2{
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-weight: 400;


}
.image{
    margin-top: 50px;
    margin-bottom: 5rem;
    /* padding-top: 10rem;
    padding-bottom: 5rem; */

}
p{
    font-size: 3rem;
    color:rgb(52, 155, 246);
    line-height: 5rem;
    margin-bottom: 5rem;
    padding: 50px;
    
}
/* .btn{
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
    transition: background 0.5s;

}
.btn:hover{
    background-color: #dadada;
} */